# Flask web framework
Flask==3.0.2

# Gunicorn for production WSGI server
gunicorn==21.2.0

# Google Cloud Storage client library
google-cloud-storage==2.9.0

google-generativeai==0.8.4
Pillow
google-cloud-secret-manager==2.16.2



